[submodule "vim/pack/plugins/start/vim-airline"]
	path = vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/colors/start/sonokai"]
	path = vim/pack/colors/start/sonokai
	url = https://github.com/sainnhe/sonokai.git
